ul, li {
    list-style: none;
}

html{
    background-color: black;
    color: white;
    box-sizing: content-box;
}

h1{
    color: red;
    font-size: 50px;
}

body{
    padding: 0px 20px;
}

h3{
    font-size: 30px;
}

ul{
    display: flex;
    flex-direction: row;
}

h4{
    margin: 5px;
    font-size: 20px;
}

img{
    width: 300px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}